body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
 
  
  

  .logo{
    width: 200px;
    height: 150px;
  }


  #hero{
    background-image: url(./assests/images/hero.jpg);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 500; */


  }
  .nav-bar{
    display: flex;
    justify-content: space-evenly;
   
    font-size: 10pt;
    z-index: 500;
    position: fixed;
    color: white;
    width: 100vw;
    margin-left: 80px;

  }
.nav-links{
   
    width: 100vw;
    text-transform: capitalize;
    color: white;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    
  }

  #hero-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: relative; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    

  }

  .hero-text{
    text-transform: capitalize;
    color: white;
    align-items: center;
    font-size: 50pt;
    margin-top: 100px;
    text-align: left;
    /* margin-left: 880px; */
    border-radius: 80px 0 0px 80px;
    text-shadow: 1px 0.8px 5px rgba(7, 1, 1, 0.801);
    width: 700px;
    height: 200px;
  }


    .hero-text .dot{
      color: #e4cd00;
      font-size: 80pt;
    }

  /* .hero-text:hover{
    font-size: 65pt;
    background-color: #080812c5;
    padding: 30px 10px;
    text-shadow: 1px 0.8px 5px rgba(116, 113, 113, 0.801);
    box-shadow: 5px 2px 8px #e2dedeaf;
    
  } */

  /* .hero-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    pad: 20px 30px;
    background-color: rgba(0, 0, 0, 0.411);
  color: white;

  }

  .hero-btn:hover{
    background-color: rgba(206, 177, 13, 0.616);
  } */

  .hero-btn2{
   display: flex;
    border-radius: 5px;
    padding: 20px 30px;
    background-color: rgba(233, 210, 4, 0.911);
    border-style: none;
    color: white;
    /* margin: 200px 0 0 300px; */

   
  }

  .hero-btn2:hover{
    background-color: rgb(114, 10, 117);
  }


#about{
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  
}






.about-text {
  width: 500px;
  height: 200px;
  /* background-color: rgba(0, 0, 0, 0.596); */
  color: rgba(0, 0, 0, 0.795);
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 30px;
}

.about-text p{
  font-size: 14pt;
}

.about-text:hover{
  box-shadow: 5px 5px 10px #000000d2;
}

#project{
  width: 100vw;
  height: 150px;
  background-image: url(./assests/images/background.jpg);
  background-blend-mode: luminosity;
  object-fit: contain;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.project-edit{
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20pt ;


}

.project-edit p{
  font-size: 10pt;
  text-transform: capitalize;
}

#projects{
  width: 100vw;
  height: 400px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-evenly;
}
.project-img img{
  width: 250px;
  height: 300px;
  /* object-fit: contain; */

}

.project-img img:hover{
  
  width: 300px;
  height: 350px;
  box-shadow: 5px 3px 8px black;
  border-radius: 20px;
  transition: 1s;

}

#service{
  width: 100vw;
  height: 300vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-service{
  background-image: url(./assests/images/aboutbackground.jpg);
  background-blend-mode: color-dodge;
  width: 100vw ;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-service span{
  background-blend-mode: soft-light;
  font-size: 25pt;
  font-weight: 900;
  color: #545454;
  text-transform: capitalize;
}

.icon{
  color: brown;
}

.sev-mov{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
  
.web-design{
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  
}

.web-design:hover{
  box-shadow: 0.8px 6px 9px black;
  border-radius: 20px;
  background-color: #936E94;
  color: white;
  transition: 1s;
}



#details{
  width: 100vw;
  height: 600px;
  background-color: #43034693;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.grid{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.item img{
  width: 250px;
  height: 180px;
}

.top-services{
  /* background-image: url(./assests/images/aboutbackground.jpg); */
  width: 100vw ;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-services span{
  font-size: 40pt;
  text-transform: uppercase;
  color: white;
}

.serv-btn{
  padding: 20px 30px;
  border-style: none ;
  background-color: rgba(255, 255, 0, 0.726);
  color: #4d0353;
}

.serv-btn:hover{
  background-color: #4d0353;
  color: white;
}

.item_body:hover{
  text-shadow: 0.8px 3px 8px grey;
}

.item img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.item .aaron-img{
  width: 280px;
  height: 250px;
  border-radius: 50%;
}

#main-contact{
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;


}



#main-contact p{
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: 900;
}
.contact{
  width: 600px;
  height: 80px;
  /* background-color: #545454; */
  display: flex;
  justify-content: space-around;
  
}

.contact .little-text{
  font-size: 10pt;
}

.line{
  border-left: 5px solid grey;
  height: 800px;
  width: 200px;

}

#footer{
  width: 100vw;
  height: 400px;
  background-color: #292825;
  display: flex;
 justify-content: space-around;
  align-items: center;
  color: #858484;
}




#black{
  width: 100vw;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  

}

.contain h4{
  font-size: 16pt;
  color: white;
  font-weight: 200;
}


.contains{
  text-align: center;
}


.contains video{
  width: 100%;
  height: 200px;
  
}

.contains video:hover{
  border-radius: 20px;
  box-shadow: 0.8px 3px 10px white;
  transition: 1s;
}

#vid-sec{
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(./assests/images/background.jpg) ;
  background-blend-mode: color-dodge;
}

/* .text{
  width: 40px;
  height: 20px;
} */

.vid-text{
  font-size: 20pt;
  text-align: center;


}
#vid-sec video{
  width: 700px;
  height:  200px;

}